/* Reset básico */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Estilo do cabeçalho */
header {
    background: #e5633e;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInDown 1s;
}

header .logo img {
    margin-left: 10px;
    width: 170px;
    height: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

/* Estilo do banner */
.banner {
    position: relative;
    text-align: center;
    color: #0c0c0c;
    animation: fadeIn 2s;
}

.banner img {
    width: 83%;
    max-height: 70%;
    object-fit: cover;
}

.banner .cta {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);

}

.banner .btn {
    background: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.banner .btn:hover {
    background: #d54935;
}

/* Estilo das categorias */
.categorias{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto 5px;
}
.btn-categoria {
    background: none;
    color: #e5633e;
    padding: 10px 10px;
    text-decoration: underline;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-categoria:hover {
    color: #fdac59;
}

/* Estilo das seções */
.produtos, .sobre, .contato, .entrega {
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    animation: fadeInUp 1s;
}

.produto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.produto-card .btn {
    background: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.produto-card .btn:hover {
    background: #e5533d;
}

/* Estilo para a página de produto detalhado */
.produto-detalhe {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    animation: fadeIn 1s;
}

.produto-detalhe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto-detalhe h2, .produto-detalhe p {
    margin-bottom: 20px;
}

.produto-detalhe .selecao-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.produto-detalhe .selecao-produto select,
.produto-detalhe .selecao-produto input {
    width: 20%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.produto-detalhe .selecao-produto .btn {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.produto-detalhe .selecao-produto .btn:hover {
    background: #e5533d;
}

.produto-wrapper {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.imagem-produto, .produto-detalhe {
    flex:auto;
}

.imagem-produto img {
    margin-top: 80px;
    width: auto;
    max-width: 600px;
    height: auto;
}

@media (max-width: 768px) {
    .produto-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilo para a página de pagamento */
.pagamento {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.pagamento h2 {
    color: #333;
    margin-bottom: 20px;
}

.metodo-pagamento {
    margin-bottom: 10px;
}

.metodo-pagamento input[type="radio"] {
    margin-right: 10px;
}

.detalhes-pagamento input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#validade {
    width: 65px;
}

#cvv {
    width: 30px;

}

.detalhes-pagamento label {
    display: inline-block;
}

.btn {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #ff6347;
}

/* Estilo para a página de entrega */
.entrega form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.entrega form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

#estado {
    text-align: left;
}

.entrega form input,
.entrega form button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.entrega form button {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.entrega form button:hover {
    background: #e5533d;
}

/* Estilo para a página sobre*/
.texto-box {
    width: fit-content;
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.texto-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.texto-box h3 {
    color: #e5633e;
    margin-bottom: 10px;
}

.texto-box p, .texto-box ul {
    text-align: center;
    line-height: 1.6;
}

.texto-box ul {
    padding-left: 20px;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.contato form input,
.contato form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato form textarea {
    resize: vertical;
    max-height: 300px;
}

.contato form button {
    background: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contato form button:hover {
    background: #e5533d;
}

.info-contato {
    margin-top: 20px;
    text-align: center;
}

.info-contato p {
    margin: 10px 0;
}

.info-contato ul {
    list-style: none;
    padding: 0;
}

.info-contato ul li {
    display: inline;
    margin-right: 10px;
}

.info-contato ul li a {
    color: #ff6347;
    text-decoration: none;
}

.info-contato ul li a:hover {
    text-decoration: underline;
}

/* Estilo do rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
